body{
background-color:;

}
.float
{
float:left;
}

.header
{

height:80px;
width:100%;
background-color:;
float:left;
}

.header>div
{
float:left;
}

.logo
{

height:80px;
width:20%;
}

.logo>img
{
height:100%;
width:100%;
}

.searchbar
{
border:black;
height:80px;
width:60%;
background-color:;

}

.menu1
{

height:80px;
width:20%;
background-color:;

}

.login>img
{
border-radius:50%;
height:40px;
width:40px;
background-color:;
border:black 1px solid;

}

.login
{

margin-right:3%;
float:left;
font-size:25px;
text-weight:bold;
height:80px;
width:47%;
background-color:;
text-align:center;
font-family:Aerolite Bold;

}
.cart
{
text-align:center;
float:left;
font-size:25px;
text-weight:bold;
height:80px;
width:50%;
background-color:;
font-family:Aerolite Bold;

}

.cart>img
{
border-radius:50%;
height:50px;
width:50px;
background-color:;
border:black 1px solid;

}

.deals
{

height:300px;
width:100%;
text-align:center;
float:left;
font-size:30px;
text-weight:bold;
font-family:Forte;
background-color:;
margin-bottom:2%;

}


.left
{
height:300px;
width:25%;
text-align:center;
float:left;
font-size:40px;
text-weight:bold;
font-family:;
background-color:;
margin-top:3%;
}

.viewall
{
position:relative;
top:20px;
left:120px;
height:40px;
width:40%;
font-size:25px;
background-color:blue;
color:white;
border-radius:7%;
}

.menu2
{
height:50px;
width:100%;
background-color:;
text-weight:bold;
font-family:Quikhand;
}


.menubar
{ 

font-size:18px;
text-weight:bold;
text-align:left;
margin-left:7%;
height:50px;
width:5%;
background-color:;

}

.add
{
position:relative;
left:-20px;
height:350px;
width:100%;
background-color:;

}

li
{ 
float:left;

}

li>img
{
height:350px;
width:1500;
padding-right:10px;
}
.right
{
height:300px;
width:75%;
text-align:center;
float:left;
font-size:20px;
text-weight:bold;
font-family:Comic Sans MS;
background-color:;
margin-top:3%;

}

.slider>img
{

width:120px;
height:200px;
padding-left:40%;
}
.slider>p
{
text-align:center;
}

#green
{
color:green;
}

a
{
color:white;
text-decoration:none;
}

.footer
{
font-family:Segoe print;
margin-top:40px;
width:100%;
height:200px;
background-color:;
}

.footerdesign
{
position:relative;
left:-10%;
padding-top:2%;
background-color:;
margin-left:350px;

}

td
{
font-size:15px;
font-family:;
}

.footerblock
{
padding-left:100px;
margin:3%;
height:80px;
width:98%;
background-color:;

}

.footerblock>div>img
{
padding-top:10px;
height:50px;
width:50px;
background-color:;
position:relative;
left:-35%;


}

.block
{
margin-left:-5%;
margin-RIGHT:8%;
height:80px;
width:50px;
background-color:;
font-size:15px;
font-family:STENCIL;
padding-right:200px;
padding-left:150px;
text-align:left;

}

.block>h3
{
text-align:left;
position:relative;
left:75%;
top:-70px;

}
.pay
{
position:relative;
top:10px;
left:100px;
height:100px;
width:60%;
background-color:;
padding-left:;
padding-top:;

}

.paym>h4
{
position:relative;
top:-20px;
left:20px;
text-decoration:;
font-family:MAGMAWAVE CAPS ;
}

.paym
{


height:30px;
width:100%;
background-color:;
}

.social
{
 font-family:MAGMAWAVE CAPS ;
margin-left:1000px;
height:100px;
width:40%;
background-color:;
}
